<% @surgeries.each do |surgery| %>
  <% if surgery.is_done %>
    <p>POST</p>
  <% else %>
    <p>PRE</p>
  <% end %>
  <p><%= surgery.patient.first_name %></p>
  <p><%= surgery.patient.last_name %></p>
  <p><%= surgery.surgery_type.description %></p>
  <%= link_to 'Surgery', surgery_path(surgery) %>
<% end %>
