// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #125E8A;
$green: #32B796;
$orange: #E67E22;
$yellow: #FDB631;
$gray: #6C6D69;
$grayer: #181818;
$light-gray: #F4F4F4;
$black: #010101;
$light-green: #4C9689;


// old colors:
// $blue: #4353FF;
