// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #4353FF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #6C6D69;
$grayer: #181818;
$light-gray: #F4F4F4;
$black: #010101;
$light-green: #4C9689;
