.pre-op {
  border-radius: 10px;
  height: calc(100vh - 20px);
  width: 50%;
  margin: 10px;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.title-sms {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-bottom: 20px;
}

.post-op {
  border-radius: 10px;
  height: calc(100vh - 20px);
  width: 50%;
  background-color: white;
  margin: 10px;
  margin-bottom: 0px;
  padding: 20px;
}

.row-container {
  text-align: center;
  p {
    margin-top: 15px;
  }
}

.red-flag {
  background-color: white;
  border-bottom: solid;
  border-width: 5px;
  border-color: red;
  border-radius: 5px;
  border-width: 4px;
  height: 120px;
  margin-top: 30px;
  p {
    margin-top: 15px;
  }
}

.flag {
  height: 100px;
  width: 100px;
  color: black;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);

  font-size: 40px;
  border-radius: 50%;
  border: solid;
}

.flags {
  margin-top: 50px;
}

.orange-flag {
  border-color: orange;
  p {
    margin-top: 15px;
  }
}
.yellow-flag {
  border-color: yellow;
  p {
    margin-top: 15px;
  }
}
.green-flag {
  border-color: green;
  p {
    margin-top: 15px;
  }
}
