.pre-op {
  border-radius: 10px;
  // height: calc(100vh - 20px);
  width: 50%;
  margin: 10px;
  margin-bottom: 0px;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.title-sms {
  border-radius: 10px;
  background-color: white;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-bottom: 50px;
  margin-top: 20px;
}

.all-flags {
  border-radius: 10px;
  background-color: white;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-bottom: 20px;
  padding: 20px;
}

.post-op {
  border-radius: 10px;
  // height: calc(100vh - 20px);
  width: 50%;
  background-color: white;
  margin: 10px;
  margin-bottom: 0px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.row-container {
  text-align: center;
  p {
    margin-top: 15px;
  }
}

.red-alert-on {
  border-color: red !important;
  border-radius: 5px !important;
}

.red-alert-on-heading {
  background-color: red !important;
  color: white !important;
  border-color: red !important;
}

.css-body {
  color: black;
  font-size: 30px;
}

.red-alert {
  // margin-top: 40px;
}
.flags {
  margin-top: 40px;
  color: black;
}
