.pre-op {
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 50%;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.post-op {
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 50%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.pre-op a {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}

.post-op a {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}

.title-sms {
  border-radius: 5px;
  background-color: white;
  margin-bottom: 50px;
  margin-top: 20px;
}

.alert-flags {
  display: flex;
  justify-content: space-between;
  .resize-container {
    height: 120px;
    width: 150px;
    text-align: center;
  }
}
.all-flags {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}


.row-container {
  text-align: center;
  p {
    margin-top: 15px;
  }
}

.red-alert-on {
  border-color: red !important;
  border-radius: 5px !important;
}

.red-alert-on-heading {
  background-color: red !important;
  color: white !important;
  border-color: red !important;
}

.orange-alert-on {
  border-color: orange !important;
  border-radius: 5px !important;
}

.orange-alert-on-heading {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}

.yellow-alert-on {
  border-color: blue !important;
  border-radius: 5px !important;
}

.yellow-alert-on-heading {
  background-color: blue !important;
  color: white !important;
  border-color: blue !important;
}
.css-body {
  color: black;
  font-size: 30px;
}

.flags {
  margin-top: 40px;
  color: black;
}
