.content-container {
  display: flex;
  height: calc(100vh - 70px);
  width: calc(100vw - 180px);
  margin-left: 180px;
  padding: 5px;
}
.core-left {
  flex: 0 0 50%;
}
.core-right {
  flex: 0 0 50%;
}
