body {
  background-color: white;
}

.content-container {
  display: flex;
  width: calc(100vw - 180px);
  margin-left: 180px;
  padding: 5px;
  // height: calc(100vh - 20px);
  margin-top: 14px;
}
.core-right {
  flex: 0 0 50%;
}

.devise {
  display: block !important;
}
#filters-empty-result {
  padding: 50px;
}
