.core-left-surgery {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-box {
  position: sticky;
  top: 0px;
}

#typeform-embed {
  width: 500px;
  height: 500px;
}

.comment-box {
  .comment-field {
    width: 100%;
    height: 150px;
    margin: 10px 0px;
  }
}
