.right-side-wrapper {
  flex : 0 0 50%;
  padding-top: 0px;
  font-size: 16px;
  font-weight: lighter;
}
#searchbar {
  margin: 0 20px 20px 20px;
}

.right-side-box {
  background-color: white;
  margin: 20px;
  margin-top: 0px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: sticky;
  top: 0;
}

.patient-box {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  color: white;
  background-color: $blue;
  display: flex;
}

.patient-name {
  flex : 1 0 150px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 18px 0px;
}

.patient-phone {
  flex : 0 1 400px;
  padding-left: 30px;
  padding: 18px 0px 18px 18px;
}

.surgery-box {
  background-color: white;
  padding-bottom: 20px;
}

.surgery-title {
  margin-left: 30px;
  padding-top : 40px;
  color: black;
}

.custom-dropdown {
  font-size : 15px;
}

.dropdown-menu {
  a {
    color:black;
  }
}


.surgery-main-info {
  margin: 30px 30px;
  margin-top: 10px;
  margin-bottom:40px;
  // text-align: center;
}

.doctor-box {
  margin: 30px 30px;
}

.surgery-forms-box {
  margin: 0px 30px;
  padding: 10px 10px;
  border: 1px solid $blue;
  border-radius: 3px;
  color: $blue;
  // text-align: center;
}

.surgery-history-box {
  border-radius: 3px;
  margin: 30px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.history-box {
  display: flex;
  align-items: center;
}

.history-sep-box {
  display: flex;
  align-items: center;
}

.history-left {
  flex: 0 0 10px;
}

.history-right {
  flex: 1 1 auto;
  padding-left: 30px;
  font-size: 15px;
  margin-bottom: 0px;
}

.green-separator {
  background-color:#1bf797;
  margin: 0 auto;
  margin-top: 30px;
  height: 5px;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 15px;
}

.history-separator-big {
  height: 35px;
  margin-left: 4px;
  flex: 0 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.history-separator-small {
  height: 15px;
  margin-left: 4px;
  flex: 0 0 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.6);
}

.history-box:first-of-type .history-separator-big:first-of-type {
  display: none;
}

.history-box:last-child {
  display: none;
}

.history-box:first-of-type {
  align-items: start;
}

.history-box:last-of-type {
  border: 1px solid red;
}

.history-sep-box:last-of-type {
  display:none;
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.green {
  background-color : $green;
}

.orange {
  background-color: $orange;
}

.red {
  background-color: $red;
}

.grey {
  background-color : rgba(0,0,0,0.2);
}

.secondary-info {
  font-size: 15px;
  color: rgba(0,0,0,0.6);
}

.no-margin {
  margin: 0px;
}



.transparent-hover {
  &:hover {
    background-color: transparent;
  }
}

.font-15 {
  font-size: 15px;
}

.no-submit {
  text-align: start;
  background-color: white;
  border: 0px;
  font-size: 13px;
  width: 100%;
  outline: 0;
}

.bullet-in-dropdown {
  height: 15px;
  width: 15px;
  border: 0px;
  text-align: center;
  margin: 0px 10px;
}

.width-40 {
  width: 40px;
  min-width: 40px;
}

.height-30 {
  height: 30px;
}

.new-event-box {
  margin: 0px 30px;
  padding: 10px 10px;
}

.new-event-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.color-input {
  flex: 0 0 80px;
}

.color-green {
  color: $green;
}

.event-input {
  flex: 0 1 280px;
}

.grey-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.38);
  font-weight: normal;
}

.font-14 {
  font-size: 14px;
}

.padding-left-8 {
  padding-left: 8px;
}




