.sidebar {
  color: white;
  background-color: $grayer;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}
.main-title{
  padding: 20px 0px;
}
.sidebar a {
  text-decoration: none;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.bottom-sidebar{
  margin-bottom: 20px;
}
#selected {
  background-color: #4C9689;
}
