.sidebar {
  background-color: $blue;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.2);
}
.main-title{
  color: white;
  padding: 15px 0px;
}

.user-logged {
  color: white;
  font-size: 12px;
  margin-top: -5px;
}

.log-info {
  color: white;
  margin-bottom: 40px;
}

.stat-sidebar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.fa-form-sidebar i {
  font-size: 19px;
}

.fa-db-sidebar i {
  font-size: 15px;
}

#selected {
  font-size: 15px;
  color: white;
  background-color: rgba(255,255,255, 0.4);
  border-right: 5px solid white;
  &:hover {
    color: white;
  }
  i {
    margin-left: 15px;
    font-size: 20px;
  }
}

.sidebar span {
  margin-left: 10px;
}


.sidebar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  i {
    margin-left: 15px;
    // font-size: 15px;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.bottom-sidebar a {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-login a {
  justify-content: center;
  align-items: center;
}

.hero-image::after {

  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);

}

.margin-sides-10 {
  margin: 0px 10px;
}

#logo_hospital {
  margin: 0 auto;
  margin-top:30px;
  border-radius: 2px;
  height: 80px;
  width: 85px;
  background-size: cover;
}
